/* CSS DOCUMENT */
body{
    margin: 0%;
    font-family: sans-serif;
}
img{
    max-width: 100%;
}
figure{
    width: 75%;
    margin: 0% auto;
}
h1{
    padding: 1%;
    text-align: center;
}

.block-estadio{
    margin-top: 5%;
}
#botones p{
    float: left;
    width: 48%;
    margin: 0% 0%;
    padding: 1%;
    cursor: pointer;
    border-radius: 5px;
    background-color: none;
}
.no_activo{
    color: black;
}
#botones span{
    border-radius: 2px;
}
.fa-fw{
    margin: 0% auto !important;
    text-align: center !important;
}

.rosa, .verde, .azul_c, .verde_c, .morado, .naranja, .rojo, .azul, .rosa_c, .morado_o, .verde_o, .amarillo{
    color: white;
}
.rosa{
    background-color: #E82064;
    transition: 0.2s ease-in-out;
}
.verde{
    background-color: #4CAE50;
    transition: 0.2s ease-in-out;
}
.azul_c{
    background-color: #05BBD3;
    transition: 0.2s ease-in-out;
}
.verde_c{
    background-color: #B9D986;
    transition: 0.2s ease-in-out;
}
.morado{
    background-color: #66499C;
    transition: 0.2s ease-in-out;
}
.naranja{
    background-color: #F7971D;
    transition: 0.2s ease-in-out;
}
.rojo{
    background-color: #EE4538; 
    transition: 0.2s ease-in-out;
}
.azul{
    background-color: #498ECB;
    transition: 0.2s ease-in-out;
}
.rosa_c{
    background-color: #D31184;
    transition: 0.2s ease-in-out;
}
.morado_o{
    background-color: #8F3F97;
    transition: 0.2s ease-in-out;
}
.verde_o{
    background-color: #8BC248;
    transition: 0.2s ease-in-out;
}
.amarillo{
    background-color: #CDDC37;
    transition: 0.2s ease-in-out;
}