/* CSS DOCUMENT */
#tabla1, #tabla3{
    width: 100%;
    padding: 1% 1%;;
    background-color: white;
    border-top: 3px solid #77c510;
}

table{
    width: 100% !important;
    margin: 1% auto;
}

table thead, tbody th{
    background-color: #4e6877;
    color: #e9ebee;
}

table th{
    padding: 1% 1%;
    border-right: 1px solid hsla(0, 0%, 65%, .39);
}

.th_evento{
    width: 12% !important;
}
.th_modo{
    width: 16% !important;
}
.th_bene{
    width: 13% !important;
}
.th_bole{
    width: 8% !important;
}
.th_prec{
    width: 17% !important;
}
.th_dep{
    width: 8% !important;
}
.th_ut{
    width: 23% !important;
}
.th_acc{
    width: 17% !important;
}

table tbody tr:nth-child(odd){
    background-color: #f5f5f5;
}

table tbody tr:nth-child(even){
    background-color: #e9e9e9;
}

td input{
    margin: 0% auto !important;
}

td span{
    font-weight: 600;
    color: #91989b;
}

table td{
    padding: 0.5% !important;
    border-right: 1px solid hsla(0, 0%, 65%, .39);
    vertical-align: middle !important;
}

table th:last-child, table td:last-child{
    border: none;
}

.deposito{
    width: 100% !important;
}

.editar{
    padding-bottom: 3%;
}

.rentado_txt{
    font-size: 1.3em;
    font-weight: 700;
    color: #30a142;
}

.gray{
    color: #91989b !important; 
}

.prec_num{
    font-size: 1.1em;
    font-weight: 600;
}

#tabla_anual{
    width: 27% !important;
    margin: 1% 0% !important;
    font-size: 1.2em;
}

#tabla_anual th{
    color: white;
}

#tabla_anual th, #tabla_anual td{
    padding: 3% 0% 3% 3% !important;
    text-align: left !important;
}

#tabla_anual th{
    background-color: #77c510;
}

.th_obs{
    background-color: #69b10a !important;
}

.movil{
    display: none;
}

.no_pad th, .no_pad td{
    padding: 0% !important;
    background-color: white !important;
    border: 0;
}

@media screen and (min-width:747px) and (max-width:1025px){
    .movil{
        display: block;
        clear: left;
        width: 100% !important;
        margin: 0% auto !important;
        padding: 0% !important;
    }
    
    .movil th, .movil td{
        border-top: 1px solid hsla(0, 0%, 100%, .21);
        padding: 5% 0%;
        width: 100%;
    }
    
    .movil th{
        width: 18.4%;
    }
    
    .movil td{
        width: 55% !important;
    }
    
    .escritorio{
        display: none;
    }
    
    #tabla_anual{
        width: 100% !important;
    }
    
    .cinc{
        width: 49% !important;
        margin: 0% !important;
        text-align: center !important;
    }
    
    .tabs-propiedades .tab-estatus{
        width: 33%;
        margin: 0;
        text-align: center !important;
    }
}

@media screen and (max-width: 746px){
    .movil{
        display: block;
        clear: left;
        width: 100% !important;
        margin: 0% auto !important;
    }
    
    .movil th, .movil td{
        border-top: 1px solid hsla(0, 0%, 100%, .21);
        padding: 5% 0%;
    }
    
    .escritorio{
        display: none;
    }
    
    #tabla_anual{
        width: 100% !important;
    }
    
    .cinc{
        width: 49% !important;
        margin: 0% !important;
    }
    
    .tabs-propiedades .tab-estatus{
        width: 33%;
        margin: 0;
        text-align: center !important;
    }
}